*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif !important;
    width: 100vw;
    overflow-x: hidden;
    background-color: #eff3fb !important;
}
a{
    text-decoration: none !important;
    color: inherit !important;
}
ul{
    padding-left: 0 !important;
    list-style: none;
}

/* header  */
.header-home {
    height: calc(1306px + 7.55vw);
    position: relative;
    z-index: 99999999;
}
body .header-home .inv {
    background: rgb(16, 31, 70) url(../img/seo/background-3.png) 49% no-repeat !important;
    background-position-y: 10px !important;
    height: 100%;
    width: 100%;
}
@media (max-width:600px) {
    body .header-home .inv {
        background: url(../img/2home-header-imgс.jpg) 50% no-repeat !important;
    background-size: 100% auto !important;
    background-position: 50% 10% !important;
    background-color: #0f264f !important;
}
}
.header-c__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.skew {
    transform: skewY(1.8deg);
    transform-origin: top right;
}
.inv {
    transform: skewY(-1.8deg);
    transform-origin: top right;
}
.header-c__bg .inv:after, .header-c__bg .inv:before {
    content: "";
    display: block;
    width: 100%;
    height: 581px;
    min-height: 185px;
    position: absolute;
    left: 0;
}
.header-c__bg .inv:before {
    top: 0;
    background: linear-gradient(180deg,#0d1633 110px,rgba(13,22,51,0));
}

.header-c__bg .inv:after {
    bottom: 0;
    background: linear-gradient(
0deg,#111f46,rgba(17,31,70,0));
}
.container {
    max-width: 1400px !important;
}
/* navs  */
.search-area {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #0d1633;
    z-index: 99999;
    height: 99%;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-5px);
    transition: 0.3s ease;
}
.search-show{
    pointer-events: all;
    opacity: 1;
    transform: translateY(0px);
}
.search-content {
    height: 79px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0 100px;
}
.search-content i{
    font-size: 20px;
    color: white !important;
    margin: 0 20px;
}
.search-content input{
    background-color: transparent !important;
    color: white !important;
    outline: none;
    border: none;
    font-size: 18px;
}
.mobile-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.mb-menu-btn p{
    font-size: 10px !important;
    margin-bottom: 0;
    cursor: pointer;
}
.mb-menu-btn::before {
    content: "";
    display: block;
    height: 4px;
    width: 30px;
    background: #b1c0e8;
    border-radius: 4px;
    margin-bottom: 6px;
}

.mobile-navbar-dropdown {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 111;
    background-color: rgba(16,26,53,.97);
    transform: translateX(-20px);
    transition: 0.3s ease;
}
.open{
    opacity: 1;
    transform: translateX(0px);
    pointer-events: all;
}
.menu-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:80px;
    padding: 20px;
    padding-left: 5px;
    border-bottom: 1px solid rgba(131, 131, 187, 0.137);
}
.mobile-menu-list li.nav-item{
    color: hsla(0,0%,100%,.5);
    text-transform: capitalize;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.mobile-menu-list li.nav-item.colored{
    border-bottom: 1px solid rgba(131, 131, 187, 0.137);
}
@media (max-width:600px) {
    .mobile-menu-list .main-nav__level-one {
        position: relative;
        top: 255px;
        left: 0;
        z-index: 111;
        transform: translateY(-15px);
        opacity: 0;
        transition: .3s ease;
        pointer-events: none;
}
}
.mobile-menu-list li.nav-item.colored:focus .main-nav__level-one{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}
.mobile-menu-list li.nav-item.colored i.down{
    position: absolute;
    right: 20px;
}
.mobile-buttons-gb .cta{
    line-height: 17px;
    padding: 10px 10px;
    margin: 10px;
}


.main-header{
    width: 100%;
    height: 100%;
    
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
    left: 0;
}

.main-nav::after {
    width: calc(100% + 250px);
    height: 1px;
    content: "";
    display: block;
    position: absolute;
    left: -125px;
    bottom: 0;
    background: linear-gradient(
90deg,rgba(39,52,75,.2),#27344b,#27344b,#27344b,#27344b,rgba(39,52,75,.2));
}
@media (max-width:900px) {
    .main-nav:after {
        width: 100%;
        content: "";
        left: 0;
    }
}
.navbar-logo{
    padding: 5px 8px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}
.navbar-logo a{
    width: 100%;
    height: 36px;
    
}
.navbar-logo img{
    width: 100%;
    height: 100%;
    
}
.navbar-left{
    display: flex;
    height: 100%;
}
.navbar-right{
    display: flex;
    height: 100%;
}
.nav-item-list {
    height: 100%;
    padding: 0 10px;
    z-index: 1111;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.colored {
    color: #f2865b!important;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-item-list .nav-item{
    color: rgba(254,254,255,.6);
    font-weight: 700;
    font-size: 16px;
    padding: 5px 12px;
    vertical-align: middle;
    height: 100%;
    cursor: pointer;
    width: max-content;
    text-transform: capitalize;
    display: flex;
    position: relative;
    align-items: center;
}
.nav-item-list .nav-item:before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 3px;
    border-radius: 3px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    background: #f2865b;
    opacity: 0;
    transition: .3s ease;
    z-index: 1;
}
.nav-item-list .nav-item:hover::before{
    opacity: 1;
}
.nav-item-list .nav-item i {
    padding: 0 10px;
    cursor: pointer;
}
.nav-item-list .nav-item.colored i{
    padding-top: 5px;
}
.nav-item-list .nav-item i.down{
    font-size: 15px;
    opacity: 0.45;
    margin-top: 18px;
    font-weight: 900;
    transform: translateY(-50%);
}

.nav-item-list .nav-item .cta.cta_phone {
    box-shadow: 0 0 60px -10px rgba(108,129,188,.75)!important;
}

.cta {
    font-size: 15px;
    text-shadow: none;
    background: #47b973;
    border-radius: 4px;
    border: none;
    padding: 0 20px 0 23px;
    display: inline-block;
    text-transform: none;
    font-weight: 300;
    line-height: 45px;
    color: #fff!important;
    text-shadow: 0 0 30px hsl(0deg 0% 100% / 65%);
    box-shadow: 0 0 60px -10px rgb(71 185 115 / 35%);
    transition: .3s ease;
    -webkit-font-smoothing: antialiased;
    position: relative;
    outline: none;
    transform: scale(1);
    text-align: center;
}
.cta span{
    font-weight: 400;
    text-transform: capitalize;
}
.cta.cta_phone i {
    width: 15px;
    vertical-align: middle;
    margin-right: 3px;
    margin-top: -1px;
}
.nav-item .cta.cta_phone i{
    margin-right: 6px;
}
.main-nav .cta.cta_phone span {
    font-weight: 400;
}
.main-nav .cta.cta_phone .mobile {
    display: none;
}
.cta_phone {
    background: #6c81bc !important;
    box-shadow: 0 10px 75px -15px #6c81bc ;
}
.cta_phone:hover{
    box-shadow: none !important;
}
.cta:hover {
    transform: scale(0.99);
    box-shadow: none;
}
.location li{
    padding: 0 20px !important;

}
.location-menu:hover .location{
    opacity: 1;
    transform: translateY(0px);
    transition: 0.3s ease;
    
}
/* sub menu  */

.main-nav__level-one {
    position: absolute;
    top: 100%;
    left: -27px;
    width: 318px;
    transform: translateY(-15px);
    opacity: 0;
    transition: .3s ease;
    pointer-events: none;
}
.main-nav__level-one>li.level-one-item {
    background: rgba(16,26,53,.97);
    color: hsla(0,0%,100%,.75);
    height: 105px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
    padding: 0 50px;
    font-size: 24px;
    text-align: left;
    border-bottom: 1px solid #222b47;
}
.main-nav__level-one>li.level-one-item i {
    margin: 0;
    color: #6f81ac;
    font-size: 35px;
}
.main-nav__level-one>li.colored i {
    
    color: #f2865b!important;
    
}
.main-nav__level-one li.level-one-item div {
    margin-left: 16px;
}
.main-nav__level-one li.level-one-item span {
    font-size: 13px;
    color: #6f81ac;
    margin-top: 3px;
    display: block;
}

.main-nav__level-one>li.level-one-item .arrow, .main-nav__level-one>li.level-one-item .icon-chevron-right {
    margin-left: auto;
    font-size: 16px;
    color: #747987;
}
.main-nav__level-two {
    position: absolute;
    top: 0;
    width: 600px;
    left: 100%;
    height: calc(100% - 45px);
    border-left: 1px solid #222b47;
    color: #99a8cd;
    opacity: 0;
    background: rgba(16,26,53,.97);
    transition: .3s ease;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-right: 42px;
    padding-bottom: 10px;
    box-sizing: content-box;
    border-bottom-right-radius: 10px;
    z-index: 0;
    text-transform: capitalize;
    overflow-x: scroll;
}
.main-nav__level-two::-webkit-scrollbar{
    height: 5px;
}
.main-nav__level-two::-webkit-scrollbar-thumb{
    background-color: #99a8cd;
}
.main-nav__level-two li {
    font-size: 14px;
    white-space: nowrap;
    padding: 9px 0 9px 47px;
    transition: .3s ease;
}

.nav-item.colored:hover .main-nav__level-one{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}


.main-nav__level-one li.level-one-item:hover .main-nav__level-two{
    opacity: 1;
    display: flex;
}
.main-nav__level-one li.level-one-item:hover{
    background: #152242;
}

/* nav ends  */

/* banner are  */
.header-div-content {
    padding-top: 80px
}
.header-middle-div{
    position: relative;
    padding-top: 16vw;
    margin-bottom: 175px;
}
.header-middle-div:before{
    content: "";
    display: flex;
    width: 100%;
    height: 70px;
    background-image: url(../img/seo/white-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    justify-content: center;
    bottom: 150px;
}
.heading{
    font-size: 37px;
    color:hsla(0,0%,100%,.65) ;
    width: 100%;
    text-align: center;
    font-weight: 300;
}
.heading span{
    font-size: 60px;
    color:#fff;
    font-weight: 700;
}
@media (max-width: 600px){
    .heading {
        font-size: 26px !important;
    }
    .heading span{
        font-size: 26px !important;
    }
 h1.heading span {
    font-size: 33px !important;
    display: block;
    margin-top: 5px;
}
.header-middle-div{
    margin-bottom: 0;
}
.header-middle-div:before{
    content: none;
}
}

@media (max-width:600px) {
    .card-wrapp {
        padding-top: 30px;padding-bottom: 100px;
    }
}
.heading_white{
    color: white !important;
    position: relative;
}
.heading_white span{
    color: white !important;
}
.card-wrapp .heading_white span{
    font-size: 40px;
}
.slider-area {
        width: 98.5vw;
    padding-right: 0 30px;
}

.cards{
    max-width: 1710px;
    /* padding: 0 20px; */
    margin: 0 auto;
}
.card-carousel .owl-stage {
    padding: 55px 0 !important;
}
.card-carousel .owl-item .cards__card{
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    padding: 70px 20px 30px;
    transition: 3s ease;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 35px 27px 0 rgb(4 19 48 / 65%);
    transform: perspective(10em) rotateX(0deg) rotateY(0deg) ;
}
.card-carousel .owl-item:nth-child(even) .cards__card{
    /* transform: perspective(10em) rotateX(-1deg) rotateY(-3deg) translateY(-10px); */
    background: url(../img/results-label-light.png) top no-repeat;
    background-color: rgba(84,106,187,.85);
    animation-name:  evenanim;
    animation-delay: 5s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    
}
@keyframes evenanim {
    from{
        transform: perspective(10em) rotateX(0deg) rotateY(0deg) ;
    }
    to{
        transform: perspective(10em) rotateX(-1deg) rotateY(-3deg) translateY(-10px);
    }
}
.card-carousel .owl-item:nth-child(odd) .cards__card{
    
    background: url(../img/results-label-dark.png) top no-repeat;
    background-color: rgba(46,64,129,.85);
    animation-name:  oddanim;
    animation-delay: 5s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transition: 2s ease !important;
}
@keyframes oddanim {
    from{
        transform: perspective(10em) rotateX(0deg) rotateY(0deg) ;
    }
    to{
        transform: perspective(10em) rotateX(1deg) rotateY(3deg) translateY(7px);
    }
}
.card-carousel .owl-item .cards__card:hover{
    transform: perspective(10em) rotateX(0deg) rotateY(0deg) scale(1.1)!important;
    animation-name: none;
    transform-origin: initial;
}
@media (max-width:600px) {
    .cards{
        padding: 0;
    }
    .slider-area {
        padding-right: 0;
    }
    .card-carousel .owl-item .cards__card{
        margin: 0 30px;
    }
    .card-carousel .owl-item:nth-child(even) .cards__card,
    .card-carousel .owl-item:nth-child(odd) .cards__card{
        transform: perspective(10em) rotateX(0deg) rotateY(0deg) scale(1.1);
    }
}
.cards__card p {
    color: #fefefe!important;
    text-shadow: 0 0 20px hsl(0deg 0% 100% / 35%);
    font-size: 30px;
    line-height: 25px;
    margin-bottom: 10px;
    max-width: 260px;
    text-align: center;
    font-weight: 700;
}
.cards__card span{
    font-size: 13px;
    text-transform: uppercase;
}
.cards__card:nth-child(odd) span{
    color: #9bace6 !important;
}
.cards__card:nth-child(even) span{
    color: #9bace6 !important;
}
.card-carousel .owl-dots{
    position: relative;
    margin: 0 auto;
    margin-top:0px;
    display: flex !important;
    justify-content: center;
    padding: 10px;
}
.card-carousel .owl-dots .owl-dot{
    background: #3f5579 !important;
    opacity: .3;
    border: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    display: block;
}
.card-carousel .owl-dots .owl-dot.active{
    opacity: 1;
    transform: scale(1.5);
}
.header-info img {
    vertical-align: middle;
    margin-top: -7px;
    margin-right: 2px;
    height: 26px;
}
.header-info .heading_white span{
    font-size: 40px ;
}
.header-info .heading_white p {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: hsla(0,0%,100%,.5);
    max-width: 705px;
    margin: 3px auto 0;
}
.video-hearder-section{
    width: 100%;
    position: relative;
    height: max-content;
}
.service-video {
    bottom: -310px;
    top: auto;
    max-width: 1000px;
    position: relative;
    max-height: 570px;
    z-index: 1;
    transform: translate(-50%,-50%);
    left: 50%;
}
.service-video-wrapper {
    cursor: pointer;
    position: relative;
    max-height: 100%;overflow: hidden;
    border-radius: 35px;
    max-height: 100%;
    border: 25px solid white;
}

.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 100%;
    width: 100%;
  }
  
  .youtube-player iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }
  
  .youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
  }
  
  .youtube-player img:hover {
    -webkit-filter: brightness(75%);
  }
  
  .youtube-player .play {
    height: 100px;
    width: 100px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.youtube-player .play i{
    color: #101f46;
    font-size: 36px;
}

@media (max-width:600px) {
    .service-video .service-video-wrapper{
            margin: 0 15px;
    }
    .service-video-wrapper {
        margin: 0;
        margin-top: 0;
        margin-bottom: 20px;
        border-width: 10px;
        border-radius: 15px;
    }
}

/* .services__video-wrapper>div, .services__video-wrapper>div:before {
    border: 25px solid #fff;
    border-radius: 35px;
    position: absolute;
    width: 100%;
}

.services__video-wrapper>div {
    top: 0;
    left: 0;border: 20px solid #fff;
    height: 99.4%;
    z-index: -1;
    transition: 0s .3s;
}
.services__c-video .play-btn {
    background: #fff;
    width: 98px;
    height: 98px;
}
.services__video .play-btn {
    transition: .3s ease;
    pointer-events: none;
}
.play-btn:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid #fff;
    border-top: 13px solid hsla(0,0%,100%,0);
    border-bottom: 13px solid hsla(0,0%,100%,0);
    top: 50%;
    left: calc(50% + 4px);
    transform: translate(-50%,-50%);
} */

/* section 2  */
.awards-section {
    padding: 339px 0 152px;
    margin-top: 0;
    width: 100%;
    height: 100%;
}
@media (max-width:600px) {
    .awards-section {
        padding: 230px 0 152px;
    }
}
.award-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1430px;
    -ms-flex-pack: justify;
    position: relative;
    z-index: 1;
    padding-left: 15px;
    padding-right: 15px;
    margin: 53px auto 0;
    height: 100%;
}
@media (max-width:600px) {
    .award-list {
        flex-direction: column;
    }
}
.award-list .awards-list-item:before {
    content: "";
    margin: 0 auto;
    display: block;
    width: 46px;
    height: 46px;
    border: 2px solid #ff8558;
    border-radius: 50%;
    margin-bottom: 16px;
    background: url(../img/check-icon-orange.svg) 50% calc(50% + 1px) no-repeat;
    background-size: 21px auto;
}
.awards-list-item{
    text-align: center;
}
.awards-list-item .heading span{
    font-size: 25px !important;
    transition: .3s ease !important;
    color: #192442 !important;font-weight: 700 !important;
}
.awards-list-item .heading{
    font-size: 25px !important;
    color: #192442 !important;
}
.awards-list-item p {
    color: rgba(25,36,66,.5);
    font-size: 15px;
    line-height: 25px;
    margin-top: 6px;
    transition: .3s ease;
    font-weight: 700;
}
/* section 3  */

.clients {
    text-align: center;
    padding: 80px 0 150px;background: #fff;
    padding-top: 105px;
    padding-bottom: 150px;
}

.clients .heading,.clients .heading span {
    font-size: 35px;
    color: #00265a;
}
.carousel-area{
    width: 100%;
    height: max-content;
    position: relative;
    margin: 40px 0;
    margin-bottom: 0;
}
.feature-carousel{
    height: max-content;
}
.feature-carousel::before{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(130,234,255,0) 12%, rgba(238,252,255,0) 88%, rgba(255,255,255,1) 100%);
position: absolute;
left: 0;
z-index: 1111;
}
.even-item{
    margin-top: 0 !important;
}
.feature-carousel .owl-item{
    /* margin: 0 20px; */
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-carousel .item img{
    max-width: 100%;
    max-height: 100%;
}
.feature-carousel .owl-dots{
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    display: flex !important;
    justify-content: center;
    padding: 10px;
}
.feature-carousel .owl-dots .owl-dot{
    background: #3f5579 !important;
    opacity: .3;
    border: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    display: block;
}
.feature-carousel .owl-dots .owl-dot.active{
    opacity: 1;
    transform: scale(1.5);
}
.recent-article{
    background-image: url(../img/videoblockthumb-compressor.jpg);
}
.recent-article .heading{
    font-size: 40px !important;
}
.beyond__sub {
    font-size: 20px;
    font-weight: 700;
    color: #f2865b;
}
.read-more-articles {
    display: inline-block;
    padding-right: 30px;
    background-image: url(../img/recentarrow.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    font-size: 18px;
    transition: padding 0.2s ease;
}
.read-more-articles:hover {
    padding-right: 40px;
    padding-left: 10px;
}
@media (min-width: 992px){
.recent-article-item:nth-child(odd) {
    margin-top: 40px;
}
}

/* .articles-section {
    position: relative;
    width: 100%;
} */


.articles-section {
    margin-top: -170px;
    position: relative;
    z-index: 5;
}
@media (min-width: 992px){
    .articles-section {
    margin-top: -520px;
}
}
.recent-article .inv{
    height: 600px ;
}
.recent-article-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    margin-bottom: 40px;
}
.recent-article__inner {
    box-shadow: 0 40px 100px -10px rgb(24 45 79 / 9%);
}
.recent-article__header {
    padding: 40px 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: center;
    text-align: left;
}
.recent-article__website {
    display: block;
    color: #97a3c2 !important;
    font-size: 16px;
    line-height: 25px;
    margin: 5px 0 50px;
    text-align: left;
}
.recent-article__inner h3 {
    min-height: 102px;
    margin-bottom: 15px;
    text-align: left;
    font-size: 30px !important;
    font-weight: 300 !important;
}
.recent-article__inner h3 span{
    font-size: 30px !important;
    line-height: 0.9 !important;
    width: 100% !important;
}
.recent-article__body {
    background: #fff;
    padding: 40px 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.recent-article__body p {
    font-size: 15px;
    color: rgba(22, 42, 89, .75) !important;
    font-weight: 600;
    line-height: 1.7em;
    text-align: justify;
}
.recent-article__readmore {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.7em;
    display: block;
    text-align: right;
    margin-top: 25px;
    color: #f2865b !important;
    padding-right: 25px;
    background-image: url(../img/recentarrow.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 16px;
}

/* section 5 starts  */
.services{
    position: relative;
    margin-top: -290px !important;
    padding-top: 420px !important;
    background: #e8edf6 url(../img/seo/our-service-2.png) 40% no-repeat;
    padding-bottom: 130px;
    background-position: center;
}


.services .heading,.services .heading span {
    font-size: 50px;
    color: #00265a;
}
.services__sub {
    color: #808db1;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.services .services__sub{
    text-align: center;
    color: #6a79a3;
    margin-top: 17px;
}
.services .services__sub span {
    font-weight: 300;
}
.services .services__sub img {
    width: 26px;
    margin-right: 4px;
}
.services__list {
    max-width: 920px;
    padding: 0 15px;
    margin: 120px auto 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.services__list_home {
    max-width: 1300px;
    height: auto !important;
    overflow: hidden;
    transition: .9s ease;
    margin-top: 95px;
    position: relative;
}
.services__list_home::after {
    position: absolute;
    bottom: 0;
    height: 300px;
    content: "";
    width: 100%;
    background: linear-gradient( rgba(130,234,255,0), #eff3fb);
}
.services__item {
    /* width: 374px; */
    margin-bottom: 68px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.service-list-item{
    display: none ;
    width: 46.15%;
}
@media (max-width: 700px){
    .services__list {
    margin-top: 74px;
    max-width: none;
}
.service-list-item{
    display: none ;
    width: 100%;
}
}

.services__item i {
    font-size: 36px;
    color: #fd936c;
    margin-right: 12px;
    margin-top: 5px;
    transition: .3s ease;
}
.services__item_home i {
    text-shadow: none ;
    font-size: 32px;
}

.services__list h3 {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
}
.services__list_home h3 {
    color: #162a59;
    margin-bottom: 7px;
}

.services__list_home p {
    font-size: 15px;
    color: rgba(22,42,89,.75);
    font-weight: 600;
    line-height: 1.7em;
}
.services__more {
    border: 2px solid #aab7d9;
    border-radius: 5px;
    background: rgba(200,210,238,0);
    font-size: 13px;
    font-weight: 700;
    width: 120px;
    height: 40px;
    color: rgba(22,42,89,.85);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    outline: none;
    transition: .3s ease;
}
#loadLess {
    display: none;
  }
/* section 6 starts  */
.find-us{
    padding-top: 130px;
    padding-bottom: 155px;
    position: relative;
    background: #fff url(../img/seo/find-us-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.find-us-head {
    text-align: center;
    margin-bottom: 73px;
}
.heading_big {
    font-size: 50px;
}
.find-us-head .heading,  .find-us-head .heading span{
    
    color: #00265a !important;
}
.find-us-head p {
    color: rgba(22,42,89,.6);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    max-width: 450px;
    margin: 10px auto 0;
}
.find-us-para, .find-row-image{
    margin-bottom: 50px;
    width: 100%;
}
.find-us-para, .find-row-image img{
    width: 100%;
}
.find-row-image{
    padding-right: 40px;
}
@media (max-width:600px) {
    .find-row-image{
        padding-right: 0;
    }
}
.find-us-para-head span {
    color: #f2865b;
    font-weight: 700;
    font-size: 18px;
}
.find-us-para {
    max-width: 580px;
}
.find-us-para-head .heading {
    text-align: left;
}
.find-us-para-head .heading span{
    font-size: 28px;
    margin-top: 3px;
    margin-bottom: 12px;
    color: #00265a !important;
    
}
.find-us-para p {
    font-size: 16px;
    font-weight: 700;
    color: rgba(32,42,71,.75);
    line-height: 25px;
}
.cta-orange {
    background: #ff8558;
    box-shadow: 0 10px 75px -15px #ff8558!important;
}
.cta-orange:hover{
    box-shadow: none !important;
}
.find-us-footer {
    text-align: center;
    margin-top: 30px;
}
.find-us-footer .ff-img img{
    height: 60px;
    width: 75px;
}
.find-us-footer .heading span , .find-us-footer .heading {
    font-size: 28px;
    margin-top: 3px;
    margin-bottom: 12px;
    color: #00265a !important;
    
}
.find-us-footer .heading  {
    margin-top: 15px;
    margin-bottom: 22px;
}
.heading_small {
    font-size: 30px;
}

/* section 7 starts  */
.our-clients{
    background: url(../img/testimonials-bg-img2.jpg) 50% no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 220px;
}
.beyond__text {
    color: #97a3c2;
    font-size: 16px;
    line-height: 25px;
    max-width: 930px;
    padding: 0 15px;
    margin: 20px auto 30px;
}
.seo-awards .oc-carousel .owl-item {
    margin-right: 0 !important;
    height: 112px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.oc-image {
    width: max-content;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.owl-carousel .owl-item img {
    display: block;
    max-width: 100%;
    max-height: max-content;
}

.oc-carousel  .owl-dots{
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    display: flex !important;
    justify-content: center;
    padding: 10px;
}
.oc-carousel  .owl-dots .owl-dot{
    background: #6174a2 !important;
    opacity: .3;
    border: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    display: block !important;
}
.oc-carousel  .owl-dots .owl-dot.active{
    opacity: 1;
    transform: scale(1.5);
}

/* section 9 start  */
.seo-optimization{
    padding-top: 35px;
    padding-bottom: 114px;
}
.seo-optimization .container {
    max-width: 1465px !important;
}
.seo-right-side{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 100%;
}
.seo .heading span{
    font-size: 40px;
    color: #00265a !important;
    font-weight: 700 !important;
}
.seo .heading{
    font-weight: 300;
    color: #00265a !important;
    text-align: left;
}
.seo p {
    max-width: 440px;
    color: rgba(21,37,76,.65);
    font-size: 16px;
    margin-top: 17px;
    margin-bottom: 35px;
    line-height: 25px;
    font-weight: 700;
}

.importance__sub {
    width: 405px;
    color: #f2865b;
    font-size: 15px;
    line-height: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
}
@media (max-width:600px) {
    .seo p {
        max-width: 100%;
    }
    .importance__sub {
        width: 100%;
    }
}
.importance__sub:before {
    content: "";
    display: block;
    height: 31px;
    min-width: 31px;
    background: url(../img/star-icon.svg) 50% no-repeat;
    background-size: auto 100%;
    margin-right: 13px;
}
.importance-list-area{
    margin: 53px 0 72px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 21px;
}
@media (max-width:600px) {
    .importance-list-area{
        display: grid;
        grid-template-columns: 100% 100% 100% 100%;
        overflow-x: scroll;
    }
}
.importance-list-area:before {
    position: absolute;
    display: block;
    content: "";
    height: 700px;
    width: 300px;
    bottom: -13px;
    right: 57px;
    background: url(../img/seo-importance-bg-img.png) 100% 100% no-repeat;
    z-index: -1;
}
.importance-item {
    background: hsla(0,0%,100%,.9);
    padding: 50px 32px 45px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    color: #455377;
    border-radius: 10px;
    box-shadow: 0 40px 100px -10px rgb(24 45 79 / 9%);
}
.importance-item ul li {
    margin-bottom: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
}
.importance-item ul li:before {
    content: attr(data-order);
    display: inline-block;
    height: 40px;
    width: 40px;
    min-width: 40px;
    margin-right: 15px;
    background: #8698c5;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0 0 40px -5px #8698c5;
}
.importance-bottom-btn{
    text-align: center;
}
/* section 8 start  */
.testimonials {
    margin-top: -157px;
    position: relative;
    padding-bottom: 120px;
}
.testim-slider-area{
    height: 470px;
}

.screenshot_slider .owl-stage{
    margin-bottom: 100px;
}
.screenshot_slider .owl-item{
    -webkit-transition: 0.3s;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(0.80);
    -ms-transform: scale(0.80);
    transform: scale(0.80);
    z-index: 0 !important;
    opacity: 1;
    margin: 30px 0;
    background-color: white;
    border-radius: 15px;
}
.screenshot_slider .owl-item p{
    opacity: 0.5;
}
.screenshot_slider .owl-item.center p{
    opacity: 1;
}
.screenshot_slider .owl-item.center {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    width: 600px;
    z-index: 1111 !important;
    opacity: 1;
    position: relative;
}

.screenshot_slider .owl-nav {
    text-align: center;
    display: block !important;
    width: 100%;
    position: absolute;
    top: 38%;
    /* // margin: 40px 0; */
}


.testimonials__card {
    background: #fff;
    width: 100%;
    text-align: center;
    min-height: 380px;
    padding: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 10px;
    transition: .3s ease;
    transition: 500ms cubic-bezier(.17,.67,.55,1.43);
    box-shadow: 0 40px 100px -10px rgb(24 45 79 / 5%);
}
.screenshot_slider .owl-item.center .testimonials__card {
    transform: scaleX(1.5);
}

/* .screenshot_slider .owl-nav .owl-prev,.screenshot_slider .owl-nav .owl-next{
    
    width: 56px;
    height: 56px;
    background: #d1d9f2;
    border-radius: 50%;
    color: #fff!important;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0 0 50px -5px #d1d9f2;
} */

.testimonial-content {
    transform: scaleX(0.8);
    padding: 20px;
    width: 100%;
    position: absolute;
    height: 100%;
}

.owl-nav .owl-prev{
    position: relative;
    left: -368px;
    right: auto;
    width: 56px;
    height: 56px;
    background: #d1d9f2 !important;
    border-radius: 50%;
    color: #fff!important;
    font-size: 16px;
    box-shadow: 0 0 50px -5px #d1d9f2;
}

.owl-nav .owl-next{
    position: relative;
    left: 368px;
    width: 56px;
    height: 56px;
    background: #d1d9f2 !important;
    border-radius: 50%;
    color: #fff !important;
    box-shadow: 0 0 50px -5px #d1d9f2;
    right: auto;
    font-size: 16px;
}
@media (max-width:600px) {
    .screenshot_slider .owl-item.center {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .screenshot_slider .owl-item.center .testimonials__card {
        transform: scaleX(1);
        padding: 15px;
    }
    .testimonial-content {
        transform: scaleX(1);
    }
    .screenshot_slider .owl-nav {
        text-align: center;
        display: block !important;
        /* width: 100%; */
        position: absolute;
        bottom: 50px;
        top: 85%;
        right: 0;
    }
    .screenshot_slider .owl-nav .owl-prev{
        left: 0;
    }
    .screenshot_slider .owl-nav .owl-next{
        left: 0;
    }
}
.testimonials__card img {
    height: 32px;
    width: 80px !important;
    margin: 0 auto;
}
.rating {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 120px;
    margin: 20px auto;
}
.rating img{
    height: 18px !important;
    width: 12px !important;
    margin: 0 1px;
}
.testimonials__card p {
    color: rgba(21,37,76,.65);
    font-weight: 700;
    font-size: 12px !important;
    max-width: 670px !important;
    margin: 18px auto 0 !important;
    line-height: 24px !important;
    transform: translateX(0) !important;
    transition: .5s ease;
}

/* section 10 starts  */
.seo-means {
    text-align: center;
    background: url(../img/what-is-seo-bg-img2.jpg) 50% no-repeat;
    background-size: cover;
    height: max-content;
    padding-top: 120px;
}
.seo-means .heading span{
    font-size: 50px;
}
.pt-100{
    padding-top: 100px !important;
}
.pb-160{
    padding-bottom: 160px !important;
}
.what-is-text {
    color: hsla(0,0%,100%,.65);
    line-height: 25px;
    font-size: 16px;
    margin-top: 8px;
    max-width: 510px;
}
@media (min-width:1200px) {
    .what-is-text {
    max-width: 790px;
    margin: 10px auto 6px;
}
}

.what-is-sub {
    color: #f2865b;
    line-height: 25px;
    max-width: 570px;
    margin: 0 auto;
    font-size: 16px;
}
.seo-means .service-video-wrapper{
    border-width: 15px;
}
.seo-means .service-video-wrapper .play{
    width: 80px;
    height: 80px;
}
.seo-means .service-video-wrapper .play i{
    font-size: 25px;
}
.seo-means-content{
    text-align: left !important;
    padding-left: 2.2vw;
}
@media (max-width:600px) {
    .seo-means-content{
        padding-left: 0;
    }
}
.seo-means-content .heading{
font-size: 40px;
    font-weight: 300;
    text-align: left;
}
.seo-means-content .heading span{
    font-size: 40px;
}
.seo-means-content p {
    color: hsla(0,0%,100%,.65);
    line-height: 25px;
    font-size: 16px;
    margin-top: 8px;
    padding-bottom: 13px;
}
@media (min-width:1200px) {
    .seo-means-content p {
        max-width: 600px;
    }
}
.seo-means .service-video-wrapper img{
    width: 100%;
    border-width: 15px;
}

/* section 11 starts  */
.ugly-truth{
    margin-top: 160px;
    margin-bottom: 164px;
}
.ugly-truth .container {
    max-width: 1486px !important;
}
.truth-header{
    text-align: center;
    margin-bottom: 62px;
}
.truth-header .heading,  .truth-header .heading span{
    font-size: 42px;
    color: #00265a !important;
}
.truth-header p.beyond__text{
    margin-top: -15px !important;
}
.truth-header .beyond__text {
    font-size: 18px;
    color: #15254c;
    font-weight: 700;
}
.truth-side-content{
    padding: 0 36px;
    text-align: left;
}

.truth-side-content h3 {
    font-size: 20px;
    color: #15254c;
    margin: 30px 0 13px;
    font-weight: 900;
}
.truth-side-content p ,.truth-footer p{
    font-size: 16px;
    color: rgba(21,37,76,.75);
    font-weight: 700;
    line-height: 25px;
}
.truth-side-content h3.blue {
    color: #647ec5;
}
.truth-factor {
    width: calc(100% + 17px);
    margin-bottom: -19px;
    margin-top: 30px;
}
.truth-factor span {
    padding: 0 12px;
    height: 35px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #c6d1ec;
    border-radius: 4px;
    margin-bottom: 19px;
    margin-right: 7px;
    font-size: 12px;
    text-transform: uppercase;
    color: #15254c;
    font-weight: 900;
}
.truth-side-content h3 span {
    font-size: 16px;
    color: #f2865b;
}
@media screen and (max-width: 992px){
    .truth__factor_holder {
    width: 100vw;
    margin-left: -30px;
    position: relative;
    display: block;
    overflow-x: scroll;
}
.truth__factor_holder:before {
    content: "";
    display: block;
    height: 173px;
    width: 100%;
    position: fixed;
    background: linear-gradient(
90deg,#eff3fb 10px,rgba(231,238,247,0),rgba(231,238,247,0),rgba(231,238,247,0),#eff3fb );
    
    z-index: 99;
}
.truth__factor_holder::-webkit-scrollbar{
    display: none;
}
}

@media (max-width:700px) {
    .truth-factor {
        width: 1310px;
    }
    .truth-side-content {
        padding: 0 15px;
    }
    .truth__block p {
        font-size: 14px;
    }
}
.truth-footer h3 {
    font-size: 25px;
    color: #6c81bc;
    font-weight: 700;
    margin-bottom: 20px;
}

.truth-footer p{
    max-width: 730px;
    margin: 0 auto;
}
@media (max-width:700px) {
    .truth-footer p{
        max-width: 100%;
        padding: 0 20px;
    }
}
/* section 12 starts  */
.why-us{
    background: linear-gradient(#142048,#142961,#14214c);
    margin-bottom: 375px;
    position: relative;
}
.why-us .inv {
    padding-bottom: 565px;
}

.why-us .inv {
    background: url(../img/seo/choose-us-3.png) 50% no-repeat;
    padding-top: 120px;
    padding-bottom: 460px;
}
.why-us-header{
    margin-bottom: 100px;
}
.why-us .container {
    max-width: 1290px !important;
    margin-bottom: 200px;
}
.why-us-header h2,.why-us-header h2 span{
    font-size: 40px ;
}
.why-us-content{
    padding: 0 25px;
}
.why-us-content h3{
    margin-bottom: 19px;
    display: flex;
    align-items: center;
}
h3.heading,h3.heading span{
    font-size: 26px;
}
.why-us-content h3 img {
    width: 65px;
    margin-right: 19px;
}

.why-us-content p ,.why-us__letter p{
    font-size: 16px;
    color: hsla(0,0%,100%,.5);
    line-height: 25px;
}
@media (max-width: 610px){
.why-us-header p {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.why-us-header .heading, .why-us-header .heading span{
    font-size: 35px !important;
}
.why-us-content {
    padding: 0;
}
.why-us-content .heading img {
    -ms-grid-row: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0;
}
.why-us-content .heading{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 65px auto;
        grid-template-columns: 65px auto;
        grid-column-gap: 12px;
        margin-bottom: 9px;
        text-align: left;
}
}

.why-us__letter {
    width: calc(100% - 30px);
    max-width: 1166px;
    padding: 95px 32px 56px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    box-shadow: 0 10px 120px -10px rgb(33 47 82 / 50%);
    border-radius: 10px;
    padding-bottom: 71px;
}

.why-us__letter:before {
    content: "";
    display: block;
    background: #46548c;
    width: 100%;
    height: 60%;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    top: 0;
    left: 0;
    transform: skewY(
1.7deg);
}
.why-us__letter div {
    padding: 0 28px;
    max-width: 980px;
    margin: 0 auto;
}
@media (max-width:600px) {
    .why-us {
        margin-bottom: 120px;
    }
.why-us__letter {
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 37px;
    transform: translateX(-50%);
    top: calc(100% - 248px);
    margin-bottom: -600px;
    position: relative;
    margin-top: 50px;
}
.why-us__letter div {
    padding: 0;
}
}
.why-us__letter img {
    position: absolute;
    top: -23px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.why-us__letter h4 {
    color: #95aff1;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 62px;
}
.why-us__letter div h4 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}
.why-us__letter:after {
    content: "";
    display: block;
    background: #46548c;
    width: 100%;
    height: 60%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}
/* section 13 starts  */
.seo-awards{
    padding-top: 105px;
    padding-bottom: 150px;
}
.seo-awards .heading span, .seo-awards .heading {
    font-size: 35px;
    color: #00265a !important;
}
.seo-awards p{
    font-size: 16px;
    line-height: 25px;
    color: #00204c;
    font-weight: 700;
    opacity: .75;
    padding: 0 15px;
    margin: 5px auto 0;
    max-width: 650px;
}
@media (max-width:600px) {
    .seo-awards p{
    max-width: 100%;
    }
}
.seo-awards .oc-carousel{
    margin: 60px auto 0;
    height: 110px;
}

.seo-awards .oc-carousel .owl-item{
    margin-right: 0 !important;
    
}
.seo-awards .oc-carousel::before {
    content: "";
    width: 30%;
    height: 100%;
    background: linear-gradient(
90deg, #eff3fb , rgba(130,234,255,0));
    position: absolute;
    left: 0;
    z-index: 1111;
}
.seo-awards .oc-carousel::after {
    content: "";
    width: 30%;
    height: 100%;
    background: linear-gradient(90deg , rgba(130,234,255,0), #eff3fb);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1111;
}
/* section 14 starts  */
.ott-wiki .heading span, .ott-wiki .heading {
    font-size: 40px;
    color: #00265a !important;
}
.insights-header {
    text-align: center;
    margin-bottom: 68px;
    padding-top: 75px;
}
.insights-header p {
    color: rgba(21,37,76,.75);
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    max-width: 510px;
    margin: 5px auto 0;
}
@media (max-width:600px) {
    .insights-header p {
    max-width: 100%;
}
}
.insights{
        width: 1200px;
        height: 700px;
        min-height: 200px;
        margin: 0 auto;
        box-shadow: 0 30px 160px -10px rgb(33 47 82 / 27%);
        background-color: white;
        /* overflow: hidden; */
    }

.rounded-10{
    border-radius: 10px !important;
}
.insights-nav {
    /* width: 340px; */
    background: #14244e;
    height: 100%;
    position: relative;
    text-align: left;
    display: block !important;
    border-radius: 10px 0 0 10px !important;
    overflow: hidden;
    padding-right: 7px;
}
@media  (max-width: 600px){
    .insights{
        flex-direction: column !important;
    width: 100%;
    height: 100%;
    }
    .insights-data-para {
        padding: 15px !important;
    }
    .insights-data h3 {
        line-height: normal !important;
        
         padding-left: 0 !important; 
         padding: 10px !important;
    }
    .insights-nav {
        height: 170px;
    }
}
.nav-buttons {
    /* width: 340px; */
    background: #14244e;
    height: 100%;
    position: relative;
    top: 91px;
    text-align: left;
    display: block !important;
    overflow-y: scroll;
    border-radius: 10px 0 0 10px !important;

}
.nav-buttons::-webkit-scrollbar{
    width: 7px;
}
.nav-buttons::-webkit-scrollbar-thumb{
    background-color: #445789;
    border-radius: 5px;
    
}
.faq-img-top {
    height: max-content;
    width: 333px;
    position: fixed;
    background-color: #14244e;
    z-index: 1111;
}
.faq-img-top img {
    width: 158px;
    display: block;
    margin: 25px auto;
}

.nav-buttons .nav-link {
    padding: 0 27px 0 30px;
    height: 69px ;
    width: 100%;
    position: relative;
    color: #96a8d7;
    font-weight: 700;
    font-size: 17px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
    line-height: 25px;
    text-align: left;
}

.nav-buttons .nav-link:hover,.nav-buttons .nav-link.active{
    background-color: #21366b !important;
    color: white;
}
.nav-buttons .nav-link:after {
    display: block;
    content: "";
    position: absolute;
    width: calc(100% - 57px);
    height: 1px;
    bottom: 0;
    left: 30px;
    background: #243460;
    pointer-events: none;
}
div#v-pills-tabContent {
    width: 100%;
}
.insights-data h3 {
    height: 90px;
    width: 100%;
    line-height: 90px;
    background: #fff;
    color: #ff8558;
    font-size: 24px;
    font-weight: 900;
    padding-left: 80px;
    box-shadow: 0 0 60px -10px rgb(24 45 79 / 9%);
}
.insights-data-para{
    padding: 80px;
}
.insights-data-para p{
    color: rgba(21, 37, 76, 1);
    font-weight: 700;
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 30px;
}
/* section 15 starts */

.work-with{
    /* padding-top: 100px; */
}
.work-with .heading,.work-with  .heading span,.work-with  p{
color: rgba(7,26,61,.65) !important;
}
.brdr-15{
    border-width: 15px;
}
@media (min-width:900px) {
    .work-with  p{
    max-width: 500px;
}
}
.work-with .service-video-wrapper img {
    width: 100%;
    border-width: 15px;
}

/* section 16 starts  */
section.logo-list-section {
    z-index: 1111;
    background-color: #eff3fb !important;
    position: relative;
    padding-bottom: 30px;
}
.logos__list {
    height: 285px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 60px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.logos__list img {
    height: 47px;
}
.logo-list-section .container{
    max-width: 1330px !important;
}

/* footer  */

.footer{
    background-color: #112850;
    padding-top: 177px;
    position: relative;
    margin-top: -76px;
}
.footer-info {
    max-width: 1340px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #7b8eb4;
    font-weight: 300;
    font-size: 14px;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
    padding: 0 15px 90px;
}
.footer__g-partner {
    width: 162px;
}
.footer__logo {
    height:65px;
}

.footer__controls {
    background: #0d2042;
    color: rgba(123,142,180,.6);
    font-weight: 300;
    font-size: 20px;
    line-height: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.footer__controls .footer-control-btn {
    margin: 0 122px;
    cursor: pointer;
    transition: .3s ease;
}
.footer__controls .footer-control-btn:hover{
    color: white;
}
.footer__controls:before {
    content: "";
    display: block;
    position: absolute;
    background: #20314e;
    width: 1px;
    height: calc(100% - 28px);
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width:600px) {
    .footer-info {
        max-width: 608px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 15px 40px;
    }
    .footer__controls {
        font-size: 18px;
    }
    .footer__controls .footer-control-btn {
        margin: 0 auto;
    }
    .footer__logo {
        margin: 30px auto;
    }
}
.footer__social {
    background: #112850;
    text-align: center;
    padding: 40px 0 0;
}
.footer__social a {
    display: inline-block;
    padding: 6px 18px;
}
.footer__social i {
    font-size: 21px;
    color: white !important;
}

.footer__copyright {
    background: #112850;
    color: #808db1;
    text-align: center;
    padding-bottom: 40px;
}

